@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Clicker+Script&family=Cormorant:wght@300;400;500;600;700&family=El+Messiri:wght@400;500;600&family=Fredericka+the+Great&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400&family=Gloock&family=Josefin+Sans:wght@100;200;300;400&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&family=Raleway:wght@100;200;300;400;500;600&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Federo&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400&family=Gloock&family=Josefin+Sans:wght@100;200;300;400&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&family=Raleway:wght@100;200;300;400;500;600&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=DM+Mono:wght@300&family=PT+Mono&family=Red+Hat+Mono:wght@300;500;700&family=Roboto+Mono:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=DM+Mono:wght@300&family=Inconsolata:wght@200;300;400;500;600&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=PT+Mono&family=Red+Hat+Mono:wght@300;500;700&family=Roboto+Mono:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}
body {
  height: -webkit-fill-available;
  background-color: #fff;
}

body.dark {
  background-color: #0a0908;
}
html.dark {
  background-color: #0a0908;
}

@layer components {
  .button {
    @apply bg-gradient-to-r from-[#FEA530]/80 to-[#FF5269]/80;
  }
  /* add buddies circle button only*/
  .button-round {
    @apply bg-gradient-to-r from-[#FEA530] to-[#FF5269];
  }
  .orange-linear-bg {
    @apply bg-gradient-to-t from-[#FF8A00]/10 to-[#FFFFFF];
  }
  .test {
    @apply bg-gradient-to-tr from-rose-400 to-orange-300;
  }
  .test-one {
    @apply bg-gradient-to-bl from-orange-400 to-rose-400;
  }
  .test-two {
    @apply bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-fuchsia-300 via-green-400 to-rose-700;
  }
}
/* bg-gradient-to-tr from-rose-400 to-orange-300 */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#msg-list * {
  overflow-anchor: none;
}

#scroll-anchor {
  overflow-anchor: auto;
  height: 1px;
}

.txt-stroke {
  -webkit-text-stroke: 2px #fff;
}

@media (min-height: 320px) {
  .min-height-mobile {
    /* min-height: 320px; */
    background-color: aqua;
  }
}

@media (min-height: 360px) {
  .min-height-mobile {
    /* min-height: 360px; */
    background-color: brown;
  }
}

.custom-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 68%, 0 81%);
}

@media (max-width: 428px) and (orientation: portrait) {
  .custom-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 64%, 0 88%);
  }
}

.connect-section {
  clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0 86%);
}
@media (max-width: 428px) and (orientation: portrait) {
  .connect-section {
    clip-path: polygon(0 26%, 100% 0%, 100% 100%, 0 84%);
  }
}


.trio-section {
clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}
/* override Chrome autofill colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #0a0908;
  -webkit-text-stroke-color: #0a0908;
  color: #0a0908;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 0s 600000s, color 0s 600000s;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: white;
  color: white;
  box-shadow: 0 0 0px 1000px #0a0908 inset;
  -webkit-box-shadow: 0 0 0px 1000px #0a0908 inset;
  transition: background-color 0s 600000s, color 0s 600000s;
  color-scheme: dark;
}

@media (max-width: 520px) and (orientation: portrait) {
  /* override Chrome autofill colors */
  /* override Chrome autofill colors */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #0a0908;
    -webkit-text-stroke-color: #0a0908;
    color: #0a0908;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 0s 600000s, color 0s 600000s;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark textarea:-webkit-autofill,
  .dark textarea:-webkit-autofill:hover,
  .dark textarea:-webkit-autofill:focus,
  .dark select:-webkit-autofill,
  .dark select:-webkit-autofill:hover,
  .dark select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
    color: white;
    box-shadow: 0 0 0px 1000px #0a0908 inset;
    -webkit-box-shadow: 0 0 0px 1000px #0a0908 inset;
    transition: background-color 0s 600000s, color 0s 600000s;
    color-scheme: dark;
  }
}
