@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Clicker+Script&family=Cormorant:wght@300;400;500;600;700&family=El+Messiri:wght@400;500;600&family=Fredericka+the+Great&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400&family=Gloock&family=Josefin+Sans:wght@100;200;300;400&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&family=Raleway:wght@100;200;300;400;500;600&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Federo&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400&family=Gloock&family=Josefin+Sans:wght@100;200;300;400&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&family=Raleway:wght@100;200;300;400;500;600&family=Ultra&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-gradient-to-r from-[#FEA530]/80 to-[#FF5269]/80;
  }
  /* add buddies circle button only*/
  .button-round {
    @apply bg-gradient-to-r from-[#FEA530] to-[#FF5269];
  }
  .orange-linear-bg {
    @apply bg-gradient-to-t from-[#FF8A00]/10 to-[#FFFFFF];
  }
  .test {
    @apply bg-gradient-to-tr from-rose-400 to-orange-300;
  }
  .test-one {
    @apply bg-gradient-to-bl from-orange-400 to-rose-400;
  }
  .test-two {
    @apply bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-fuchsia-300 via-green-400 to-rose-700;
  }
}
/* bg-gradient-to-tr from-rose-400 to-orange-300 */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#msg-list * {
  overflow-anchor: none;
}

#scroll-anchor {
  overflow-anchor: auto;
  height: 1px;
}
